<html>
	<head>
		<title>Xchanger-hostel</title>
		<meta name="viewport" content="initial-scale=1.0">
    	<meta charset="utf-8">
    	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
	</head>
	<body>

	
				<div id="map"></div>

	<script>

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 8,
  });

   var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 id="firstHeading" class="firstHeading"><%= hostel.name %></h1>'+
      '<div id="bodyContent">'+
      	"<% if(hostel.licence){%>"+
			"縣市旅宿登記證號:<%= hostel.licence %>"+
    	"<% }else{ %>"+
			"縣市旅宿登記證號:找不到資料"+
    	"<% }%>"+
    	"<br/>"+
    	"<% if(hostel.website){ %>"+
			"<a href='<%= hostel.website %>' target='_blank'>官網</a>"+
			"</p><% } %>"+
    	"<% if(hostel.polis){ %>"+
			"<a href='/hostel/<%= hostel.id %>/polis' target='_blank'>歷屆幫手評價</a>"+
			"</p><% } %>"+
      '</div>'+
      '</div>';

  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });
  var geocoder = new google.maps.Geocoder();
  geocoder.geocode({'address': "<%= hostel.address %>"}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location
      });
          		infowindow.open(map, marker);

      marker.addListener('click', function() {
    		infowindow.open(map, marker);
  		});
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });

}


    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfEDd8hvz5TVWFnhwikcQchFl00CSm724&callback=initMap">
    </script>
	</body>
</html>